h1 {
    color: red;
    background-color: green;
}
body {
    color: chocolate;
    background-color: cyan;
    }
p {
    color: darkmagenta;
    background-color: darksalmon;
}
q{
    color: yellow;
}
